*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 35%;
    height: 90vh;
    background-color: white;
    border: 1px rgb(244, 244, 244) solid;
    border-radius: 5px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.registro-header{
    text-align: center;
    padding: 30px 15px;
}
.registro-header h3{
    margin-bottom: 10px;
}
.registro-header p{
    margin-top: 10px;
    color: #808080
}
form{
    padding: 20px;
    display: flex;
    flex-direction: column;
} 
.item-field{
    display: flex;
    flex-direction: column;
}
.item-field label{
    margin: 5px 0;
    font-size: 13px;
}
.item-field input{
    border-radius: 3px ;
    margin: 5px 0;
    height: 30px;
    border: 1px #808080 solid;
}
.field-sub{
    display: flex;
    justify-content: space-around;
}
.item-submit{
    margin: 25px 0;
}
.item-submit input{
    background-color: #808080;
}