*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    height: 100vh;
    width: 100%;
    padding: 0 2%;
}
.container{
    background-color: #808080;
    height: 100vh;
    padding: 0 2%;
}
form{
    background-color: white;
    height: 100vh;
}
section{
    display: flex;
    flex-direction: column;
}
.form-header{
    text-align: center;
}
.form-header h2{
    margin: 10px 0;
}
.form-header p{
    margin: 10px 0;
}
.form-boxes{
    margin: 2% 5%;
    border-radius: 5px;
    border: 1px black solid;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.form-submit{
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-submit input{
    background-color: #808080;
    padding: 15px;
    border-radius: 5px;
    border: 0;
}
.box-field{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.box-field label{
    margin: 10px;
}
.box-field input{
    margin: 10px;
}
.req{
    color: red;
}