*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    height: 100vh;
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    margin: 50px;
    border: 1px #DDDDDD solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.container h3{
    margin: 10px 0;
}
.envio{
    padding: 5px 10px;
    background-color: #DDDDDD;
    border: none;
    border-radius: 5px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}