*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 70px;
    border: 1px #DDDDDD solid;
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.container .header {
    margin: 10px 0;
}
.envio{
    margin: 10px 30% 0;
    padding: 5px 10px;
    background-color: #DDDDDD;
    border: none;
    border-radius: 5px;
    color: #808080;
}
.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;   
}
