body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.icon img{
    height: 50px;
    width: 50px;
}
.container {
    background-color: #808080;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.container .sub-container {
    width: 600px;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.32);
}
.container .sub-container .content {
    background-color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.container .sub-container .content .icon {
    margin-right: 10px;
}
.container .sub-container .content .message .title {
    font-weight: bolder;
}
.container .sub-container .acctions {
    padding: 10px 0;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.container .sub-container .acctions button {
    border: none;
    padding: 15px;
    min-width: 120px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.container .sub-container .acctions .btn-download {
    color: white;
    background-color: #808080;
}
.container .sub-container .acctions .btn-download:hover {
    background-color: #808080;
}
.container .sub-container .acctions .btn-return {
    border: solid 1px #ccc;
}
.container .sub-container .acctions .btn-return:hover {
    background-color: #eee;
}
.user-data{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.user-data .user-field{
    display: flex;
    gap: 15px;
}
.user-data .user-field .p{
    margin: 0;
    padding: 0;
}
@media (max-width: 600px) {
    .container .sub-container {
        width: 80%;
    }
    .container .sub-container .acctions {
        flex-direction: column;
    }
}