*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 450px;
    border: 1px #DDDDDD solid;
    border-radius: 15px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);;
}
form{
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 75%;
}
.form-field{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.imagephp{
    width: 132px;
    overflow: hidden;
    color: transparent;
}
.envio{
    background-color: #DDDDDD;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #808080;
}
.sendphp{
    align-self: center;
}